<div class="mt-4 ">
    <div class="col text-center">
                <a href="/distributors" class="btn btn-primary">Trở lại</a>

        <div class="">
                <h4 class=" font-bold">Tên nhà cung cấp:</h4>
                <h4 class="">{{distributors.tendoitac}}</h4>            
                <h4 class="gray font-bold">Địa chỉ: </h4>
                <h4 class="gray">{{distributors.diachi}}</h4>
                <h5 class=" font-bold">Số điện thoại</h5>
                <h5 class="">{{distributors.sdt}}</h5>
        </div>
    </div>
</div>